/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML */
html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}
img{
    max-width: 100%;
}

/* COMMON */

.flex{
    display: flex;
}
.container{
    width: 90%;
    margin: 0 auto;
}

/* HEADER */
header{
    background-color: #0084fd;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
header .container{
    align-items: center;
    justify-content: space-between;
}
header .hamburgermenu{
    color: white;
    font-size: 1.5rem;
}
header .menudesktop{
    display: none;
}
/* /HEADER */

/* MAIN */
/* SECTION CARDDEMO */
.carddemo .col{
    flex-direction: column;
    border-radius: 1rem;
    background-color: #b5ddff ;
    /* DEBUG */
    margin-bottom: 1.5rem;
}
.textcoldemo , .imgcoldemo{
    margin-bottom: 1rem;
}

/* SECTION PLANNING */
.planning{
    background-color: #9792e4 ;
}
.planning .container{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.planning .planningcardfirst , .planning .planningcardsecond{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid black;
}
.planning .planningcardsecond{
    background-color: white;
    border-radius: 2rem;
    flex-direction: column;
}

/* SECTION TESTIMONIAL */
.testimonials .testimonialinfo{
    text-align: center;
}
.testimonials .cardtestimonial{
    flex-direction: column;
    margin-top:1.5rem;
    background-color: #9792e4 ;
    border-radius: 1.5rem;
    text-align: center;
}
.testimonials .texttestimonial{
    margin-top: 1rem;
}

/* SECTION BENEFIT */
.benefits{
    margin-top: 5rem;
    background-color:#9792e4 ;
}
.benefits .benefittitle{
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.benefits .benefitcard{
    background-color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1.5rem;
}


/* /MAIN */




/* MEDIAQUERY */
/* TABLET */
@media screen and (min-width : 768px){

    /* SECTION CARDDEMO */
    .carddemo .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .carddemo .col{
        width: calc(100% / 3 - 1rem);
    }
    .carddemo .col:first-child {
        width: calc(100% / 3 * 2 - .5rem);
    }
    /* SECTION PLANNING */
    .testimonials .cardtestimonial{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .testimonials .imgtestimonial{
        margin-right: 1rem;
    }
    .testimonials .texttestimonial{
        margin-bottom: 1rem;
    }
    /* SECTION BENEFITS */
    .benefits .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .benefits .benefitcard{
        width: calc(100% / 2 - 1.5rem);
    }
}




/* DESKTOP */
@media screen and (min-width : 992px){
    .container{
        width: 80%;
    }
    /* HEADER */
    header .hamburgermenu{
        display: none;
    }
    header .menudesktop{
        display: block;
    }
    header .menudesktop ul{
        display: flex;
        list-style-type: none;
    }
    header .menudesktop li{
        margin-left: 1.5rem;
        color: white;
    }
    /* SECTION CARDDEMO */
    .carddemo .col:first-child{
        display: flex;
        flex-direction: row;
    }
    .carddemo .col:first-child .imgcoldemo{
        align-items: flex-end;
    }
    /* SECTION PLANNING */
    .planning .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .planning .planningcardfirst , .planning .planningcardsecond{
        width: calc(100% / 2 - 1.5rem);
    }
    .planning .planningcardsecond{
        flex-direction: column;
        justify-content: end;
    }
    /* SECTION TESTIMONIAL */
    .testimonials .cardtestimonial{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .testimonials .imgtestimonial{
        margin-right: 1rem;
    }
    .testimonials .texttestimonial{
        margin-bottom: 1rem;
    }
    /* SECTION BENEFITS */
    .benefits .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .benefits .benefitcard{
        width: calc(100% / 3 - 1.5rem);
    }

}
