/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML */
html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}
img{
    max-width: 100%;
}

/* COMMON */

.flex{
    display: flex;
}
.container{
    width: 90%;
    margin: 0 auto;
}

/* HEADER */
header{
    background-color: #0084fd;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
header .container{
    align-items: center;
    justify-content: space-between;
}
header .hamburgermenu{
    color: white;
    font-size: 1.5rem;
}
header .menudesktop{
    display: none;
}
header button{
    color: black;
    background-color: white;
    border-radius: 2rem;
    border : 0px ;
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem;
}
/* /HEADER */

/* MAIN */

/* SECTION CARDDEMO */

.carddemo .col{
    text-align: center;
    padding: 2rem 2rem;
    padding-bottom: 0px ;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #b5ddff ;
    margin-bottom: 1.5rem;
}
.carddemo .col:first-child{
    text-align: left;
}
.carddemo .iconcoldemo i{
    color: #0084fd;
    font-size: 4rem;
    margin-bottom: 1rem;
}
#appstore{
    background-color: #0084fd;
    border-radius: 2rem;
    color: white;
    border: 0px;
    margin-top: 2rem;
    padding: .5rem 3rem;
}
.textcoldemo {
    margin-bottom: 1rem;
}
.carddemo .col h3{
    color: #0084fd;
    margin-bottom: 2rem;
}

/* SECTION PLANNING */
.planning{
    background-color: #9792e4 ;
}
.planning .container{
    padding: 1.5rem 0;
}
.planning .planningcardfirst , .planning .planningcardsecond{
    margin: 1.5rem 0;
}
.planning .planningcardsecond{
    background-color: white;
    border-radius: 2rem;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}
.planning .planningcardsecond p{
    font-style: italic;
}
.planningcardsecond i{
    margin-top: 2rem;
    border-radius: 50%;
    background-color: #9792e4;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.planningcardfirst .planningtext{
    color: white;
}
.planning .planningtext h2{
    margin: 2rem 0 ;
    font-size: 1.5rem;
}

/* SECTION TESTIMONIAL */
.testimonials .testimonialinfo{
    text-align: center;
}
.testimonialinfo p{
    margin-top: 1rem;
}
.testimonialinfo h2{
    margin:1rem 0 ; 
    color: #9792e4;
}
.testimonials .cardtestimonial{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    margin-top:1.5rem;
    background-color: #9792e4 ;
    border-radius: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.imgtestimonial{
    display: block;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.imgtestimonial.one {
    background-image: url(../img/testimonial1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgtestimonial.two {
    background-image: url(../img/testimonial2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgtestimonial.three {
    background-image: url(../img/testimonial3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials .texttestimonial{
    margin-top: 1rem;
    color: white;
}
.texttestimonial i{
    margin: 0 .5rem;
}
.texttestimonial h4{
    margin-top: 1rem;
}

/* SECTION BENEFIT */
.benefits{
    margin-top: 5rem;
    background-color:#9792e4 ;
}
.benefitcard .cardbenefittitle h2 , .cardbenefittitle h3{
    color: #9792e4;
}
.cardbenefittitle h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.cardbenefittitle h3{
    margin-bottom: 1rem;
}
.cardbenefitbutton button{
    background-color: #9792e4;
    color: white;
    border: 0px;
    border-radius: 1.5rem;
    padding: .5rem;
    margin-top: 1rem;
    width: 6rem;
    letter-spacing: 2px;

}
.benefits .benefittitle{
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.benefits .benefitcard{
    background-color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1.5rem;
}
.benefits .row{
    padding-bottom: 2rem;
}

/* SECTION ABOUTUS */

.aboutus{
    margin-top: 5rem;
}
.aboutus .aboutusinfo h2 , .aboutusinfo p , .aboutuscard{
    margin-top: 2rem;
}
.aboutusinfo h2{
    color: #9792e4;
    font-size: 2.5rem;
}
.aboutuscard{
    flex-direction: column;
    margin-bottom: 3rem;
}
.aboutusimg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.aboutusimg i{
    color: #9792e4;
    font-size: 3rem;
    position: absolute;
    right: 0;
}
.aboutuscardinfo p{
    color: #9792e4;
    margin-top: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.aboutuscardbutton button{
    background-color: #9792e4;
    color: white;
    border: 0px;
    border-radius: 1.5rem;
    padding: .5rem;
    margin-top: 1rem;
    width: 10rem;
}
.aboutuscardbutton i{
    margin-right: .5rem;
}
/* SECTION GATSTARTED */
.getstarted{
    background-color: #9792e4;
    padding-top: 2rem;
}
#grey{
    color: lightgrey;
}

.getstarted .container {
    text-align: center;
}
.getstarted p , .getstarted h3 , .getstarted h2 , .getstarted button{
    margin-bottom: 2rem;
}
.getstarted ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.getstarted li , .getstarted a{
    color: white;
    margin: 0 .5rem;
}
.getstarted .getstartedfooter{
    padding-bottom: 2rem;
}
.getstartedtop h3{
    color: white;
    font-size: 2rem;
}
.getstartedtop h2{
    color: #FDC15F;
    font-size: 3rem;
}
.getstartedtop p{
    color: white;
}

.getstartedfooter button{
    background-color: white;
    border-radius: 1rem;
    color: #9792e4;
    border: 0px;
    padding: .8rem 3rem ;
}
/* /MAIN */

/* FOOTER */
footer{
    background-color: #333333;
}
footer p{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
}
footer a {
    color: #9792e4;
}
/* /FOOTER */



/* MEDIAQUERY */
/* TABLET */
@media screen and (min-width : 768px){

    /* SECTION CARDDEMO */
    .carddemo .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .carddemo .col{
        width: calc(100% / 3 - 1rem);
    }
    .carddemo .col:first-child {
        width: calc(100% / 3 * 2 - .5rem);
    }
    .carddemo .imgcoldemo img{
        width: 50%;
    }
    /* SECTION PLANNING */
    .testimonials .cardtestimonial{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .imgtestimonial{
        height: 100px;
        min-width: 100px;
    }
    .imgtestimonial.one{
        background-image: url(../img/testimonial1.jpg);
    }
    .testimonials .imgtestimonial{
        margin-right: 1rem;
    }
    .testimonials .texttestimonial{
        margin-bottom: 1rem;
    }
    /* SECTION BENEFITS */
    .benefits .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .benefits .benefitcard{
        width: calc(100% / 2 - 1.5rem);
        margin-bottom: 0;
    }
    
    /* SECTION ABOUTUS */
    .aboutus .container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.5rem;
    }
    .aboutus .aboutusinfo{
        width: 70%;
        margin-bottom: 5rem;
    }
    .aboutusinfo p{
        text-align: left;
    }
    .aboutus .aboutuscard{
        width: 30%;
        justify-content: flex-start;
        align-items: center;
    }
    /* SECTION GETSTARTED */
    .getstarted .container {
        width: 70%;
        text-align: center;
    }
    /* FOOTER */
    footer .container{
        width: 60%;
    }
}




/* DESKTOP */
@media screen and (min-width : 992px){
    .container{
        width: 80%;
    }
    /* HEADER */
    header .hamburgermenu{
        display: none;
    }
    header .menudesktop{
        display: block;
    }
    header .menudesktop ul{
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    }
    header .menudesktop li{
        margin-left: 1.5rem;
        color: white;
    }
    /* SECTION CARDDEMO */
    .carddemo .col:first-child{
        display: flex;
        flex-direction: row;
    }
    .carddemo .col:first-child .imgcoldemo{
        align-items: flex-end;
    }
    .carddemo .imgcoldemo img{
        width: 100%;
    }
    /* SECTION PLANNING */
    .planning .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: baseline;
    }
    .planning .planningcardfirst , .planning .planningcardsecond{
        width: calc(100% / 2 - 1.5rem);
    }
    .planning .planningcardsecond{
        flex-direction: column;
        justify-content: end;
    }
    .planning .planningcardsecond img{
        width: 50%;
    }
    /* SECTION TESTIMONIAL */
    .testimonials .cardtestimonial{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .testimonials .imgtestimonial{
        margin-right: 1rem;
    }
    .testimonials .texttestimonial{
        margin-bottom: 1rem;
    }
    /* SECTION BENEFITS */
    .benefits .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .benefits .benefitcard{
        width: calc(100% / 3 - 1.5rem);
    }
    /* SECTION GETSTARTED */
    .getstarted .container {
        width: 60%;
        text-align: center;
    }
       /* FOOTER */
       footer .container{
        width: 50%;
    }
}

/* LARGE DESKTOP */
@media screen and ( min-width : 1200px){
    .container{
        width: 95%;
    }
}